@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


:root{
    /* colors */
    --base: hsl(0, 100%, 74%);
    --base2: hsl(154, 59%, 51%);
    --accent: hsl(248, 32%, 49%);
    --neutral: hsl(249, 10%, 26%);
    --neutral2: hsl(246, 25%, 77%);

    /* typography */
    --reg: 400;
    --mid: 500;
    --semibold: 600;
    --bold: 700;
    --font: 'Poppins', sans-serif;
}





.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }