@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


:root{
    /* colors */
    --base: hsl(0, 100%, 74%);
    --base2: hsl(154, 59%, 51%);
    --accent: hsl(248, 32%, 49%);
    --neutral: hsla(249, 10%, 26%,.5);
    --neutral2: hsla(246, 25%, 77%,.5);

    /* typography */
    --reg: 400;
    --mid: 500;
    --semibold: 600;
    --bold: 700;
    --font: 'Poppins', sans-serif;
}

*{
    box-sizing: border-box;
    font-size: 16px;
    padding: 0px;
}


.heading{
    grid-area: heading;
    overflow-wrap: break-word;
    width: 17rem;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            
    color: #fff;
    margin: auto;
}

h1{
    font-family: var(--font);
    font-size: 1.5rem;
    font-weight: var(--bold);
    text-align: center;
}

.sub{
    grid-area: sub;
    font-family: var(--font);
    font-size: .8rem;
    font-weight: var(--mid);
    overflow-wrap: break-word;
    width: 16rem;
    text-align: center;
    margin: auto;
    color: #fff;
}

.banner{
    grid-area: banner;
    /* text-align: center; */
    margin: auto;
    background-color: var(--accent);
    border-radius: 5px;
    width: 300px;
    padding: 10px 20px;
    -webkit-box-shadow: 0px 9px 8px -2px var(--neutral);
    -moz-box-shadow: 0px 9px 8px -2px var(--neutral);
    box-shadow: 0px 9px 8px -2px var(--neutral);
}

.banner > p{
    font-family:var(--font);
    font-size: .8rem;
    color: #fff;
    overflow-wrap: break-word;
    width: 13rem;
    text-align: center;
    margin: auto;
}

.banner > p > span{
    font-weight: var(--semibold);
}

.form{
    grid-area: form;
    margin: auto;
    text-align: center;
}


.form .form-card{
    border: 1px solid black;
    padding: 15px 10px;
    border-radius: 7px;
    background-color: #fff;
    border: none;
}

.form .form-card .form-control{
    margin-bottom: 30px;
}

.form .form-card .form-control input{
    border-radius: 3px;
    padding: 5px 3px;
    border: thin solid var(--neutral2);
    font-weight: var(--mid);
    font-family: var(--font);
}

.form .form-card .form-control img{
    width: 20px;
    position: relative;
    top: 5px;
    right: 10%;
}

.form .form-card .form-control small{
    position: absolute;
    left: 30%;
    margin-top: 40px;
    color: var(--base);
    font-size: .7rem;
    visibility: hidden;
}

.tnc{
    font-family: var(--font);
    font-size: .8rem;
    overflow-wrap: break-word;
    width: 18rem;
}

.tnc a{
    font-size: .8rem;
    font-weight: var(--semibold);
    text-decoration: none;
    color: var(--base);
}

.form-cta{
    padding: 10px 35px;
    font-family: var(--font);
    font-weight: var(--mid);
    border: none;
    border-radius: 3px;
    background-color: var(--base2);
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

.footer{
    grid-area: footer;
}

.container{
    background-image: url(./images/bg-intro-mobile.png);
    background-color: var(--base);
    display: grid;
    justify-content: center;
    grid-template-areas:
    "heading heading"
    "sub sub"
    "banner banner"
    "form form"
    "footer footer";
    grid-row-gap: 10px;
}

.attribution { font-size: 11px; text-align: center; margin: auto;}
.attribution a { color: hsl(228, 45%, 44%); }

@media only screen and (min-width: 960px){
    .heading{
        margin-top: 180px;
        position: relative;
        right: 16%;
    }
    

    h1{
        font-size: 2rem;
        line-height: 2.2rem;
        text-align: left;
    }

    .sub{
        overflow-wrap: break-word;
        text-align: left;
        width: 25rem;
        position: relative;
        font-size: .7rem;
        margin-bottom: 200px;
    }

    .banner{
        overflow-wrap: none;
        width: 25rem;
        position: relative;
        top: 80%;
    }

    .form{
        position: relative;
    }

    .form .form-card{
        width: 400px;
    }

    .form .form-card .form-control input{
        width: 350px;
        border-radius: 3px;
        padding-left: 1.5rem;
    }

    .form .form-card .form-control small{
        margin-left: 150px; 
    }

    .form-cta{
        width: 350px;
        border-radius: 5px;
    }

    .tnc{
        font-size: .6rem;
        overflow-wrap: none;
        width: 25rem; 
    }
    
    .container{
        background-image: url(./images/bg-intro-desktop.png);
        background-color: var(--base);
        display: grid;
        width: calc(100vw - 20px);
        height: calc(100vh - 20px);
        /* justify-content: space-evenly; */
        align-items: center;
        grid-template-columns: 50px auto auto;
        grid-template-areas:
        "... ... banner banner"
        "heading heading form form"
        "sub sub form form"
        "footer footer footer footer";
        grid-column-gap: 10px;       
        position: relative;
    }
}


