@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


:root{
    /* colors */
    --base: hsl(0, 100%, 74%);
    --base2: hsl(154, 59%, 51%);
    --accent: hsl(248, 32%, 49%);
    --neutral: hsl(249, 10%, 26%);
    --neutral2: hsl(246, 25%, 77%);

    /* typography */
    --reg: 400;
    --mid: 500;
    --semibold: 600;
    --bold: 700;
    --font: 'Poppins', sans-serif;
}

*{
    box-sizing: border-box;
    font-size: 16px;
    padding: 0px;
}

.heading{
    grid-area: heading;
}

.sub{
    grid-area: sub;
}

.banner{
    grid-area: banner;
}

.form{
    grid-area: form;
}


.container{
    display: grid;
    justify-content: center;
    grid-template-areas:
    "heading heading"
    "sub sub"
    "banner banner"
    "form form";
}

.heading{
    display: flex;
    flex-direction: column;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               
}


h1 > span{
    font-family: var(--font);
    font-size: 1.5rem;
    font-weight: var(--bold);
    text-align: center;
}

.sub{
    font-family: var(--font);
    font-size: .8rem;
    font-weight: var(--mid);
    overflow-wrap: break-word;
    width: 16rem;
    text-align: center;
    margin: auto;
}


.banner{
    text-align: center;
}

.banner > p{
    font-family:var(--font);
    font-size: .8rem;
}

.banner > p > span{
    font-weight: var(--semibold);
}


.form{
    margin: auto;
    text-align: center;
}

.form .form-card{
    border: 1px solid black;
    padding: 10px 10px;
    border-radius: 7px;
}

.form .form-card .form-control{
    margin-bottom: 10px;
}

.form .form-card .form-control input{
    border-radius: 3px;
    padding: 5px 3px;
    border: thin solid var(--neutral);
    font-weight: var(--mid);
    font-family: var(--font)
}

.tnc{
    font-family: var(--font);
    font-size: .8rem;
    overflow-wrap: break-word;
}

.tnc a{
    font-size: .8rem;
    font-weight: var(--semibold);
    text-decoration: none;
}

.form-cta{
    padding: 10px 35px;
    font-family: var(--font);
    font-weight: var(--mid);
}



.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }